version: '3.8'

services:
  victoria-tools:
    container_name: victoria-tools
    build:
      context: .
      dockerfile: Dockerfile
    image: victoria-tools:latest
    ports:
      - "3000:8080"
    environment:
      - DATASOURCE_URL=http://host.docker.internal:8428
      - REMOTE_WRITE_URL=http://host.docker.internal:8428
    restart: unless-stopped