version: '3.8'

services:
  victoria-tools:
    container_name: victoria-tools
    build:
      context: .
      dockerfile: Dockerfile
    image: victoria-tools:latest
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - VMALERT_PATH=/usr/local/bin/vmalert
      - VITE_API_BASE_URL=http://localhost:8080/
      - DATASOURCE_URL=http://host.docker.internal:8428
      - REMOTE_WRITE_URL=http://host.docker.internal:8428
    restart: unless-stopped